<h1>Restaurants By Page, perPage & Borough</h1>
{{#if restaurants.length}}
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Borough</th>
        <th>Cuisine</th>
        <th>Address</th>
        <th>Coordinates</th>
        <th>Restaurant ID</th>
        <th>Grades</th>
        {{! <th>Action</th> }}
      </tr>
    </thead>
    <tbody>
      {{#each restaurants}}
        <tr>
          <td>{{this.name}}</td>
          <td>{{this.borough}}</td>
          <td>{{this.cuisine}}</td>
          <td>{{this.address.building}},
            {{this.address.street}},
            {{this.address.zipcode}}</td>
          <td>{{this.address.coord}}</td>
          <td>{{this.restaurant_id}}</td>
          <td>
            <table class="inside">
              <tr>
                <th>Date</th>
                <th>Grade</th>
                <th>Score</th>
              </tr>
              {{#each this.grades}}
                <tr>
                  <td>{{this.date}}</td>
                  <td>{{this.grade}}</td>
                  <td>{{this.score}}</td>
                </tr>
              {{/each}}
            </table>
          </td>
          {{!-- <td>
            <form
              action="/api/restaurants/{{this._id}}?_method=DELETE"
              method="POST"
            >
              <button
                class="btn btn-danger"
                onclick="return confirm('Are you sure you want to delete this item?');"
                type="submit"
              >Delete</button>
            </form>
          </td> --}}
        </tr>
      {{/each}}
    </tbody>
  </table>
{{else}}
  <p>No restaurants found.</p>
{{/if}}